## 07-1 데이터 묶어 분석하기

- 테이블 2 개 연결
- 이미 나누어져 있는 테이블 여러개를 연결

## 07-2 데이터 연결하기

- concatenation

In [4]:
import pandas as pd

df1 = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/concat_1.csv')
df2 = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/concat_2.csv')
df3 = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/concat_3.csv')
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [5]:
print(df2)

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [6]:
print(df3)

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

### `데이터프레임 살펴보기`

In [7]:
print(df1.index)

RangeIndex(start=0, stop=4, step=1)

In [8]:
print(df1.columns)

Index(['A', 'B', 'C', 'D'], dtype='object')

- .values
  - numpy ndarray 를 반환

In [9]:
print(df1.values)

[['a0' 'b0' 'c0' 'd0']
 ['a1' 'b1' 'c1' 'd1']
 ['a2' 'b2' 'c2' 'd2']
 ['a3' 'b3' 'c3' 'd3']]

### `concat`

- .concat()
  - ignore_index : 인덱스 재 설정
  - axis : 연결할 방향 설정
    - 0 or 'index'
    - 1 or 'columns'
  - join : 연결할 방법 설정
    - 'outer' - 모든 열을 유지 - 합집합
    - 'inner' - 공통된 열만 유지 - 교집합

### `행 연결하기`

#### [Do It! 실습] 행 방향 연결하기

In [10]:
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [11]:
print(row_concat.iloc[3, :])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [12]:
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [13]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [14]:
new_row_df = pd.DataFrame(
    data=[["n1", "n2", "n3", "n4"]],
    columns=["A", "B", "C", "D"],
)
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [15]:
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

#### [Do It! 실습] 새로운 인덱스 설정하기

In [16]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

### `열 연결하기`

#### [Do It! 실습] 열 방향 연결하기

In [17]:
col_concat = pd.concat([df1, df2, df3], axis="columns")
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [18]:
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [19]:
col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [20]:
col_concat['new_col_series'] = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list  \
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

  new_col_series
0             n1
1             n2
2             n3
3             n4

In [21]:
print(pd.concat([df1, df2, df3], axis="columns", ignore_index=True))

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

### `인덱스나 열 이름이 다른 데이터 연결하기`

#### [Do It! 실습] 열 이름이 다른 데이터 행 방향 연결하기

In [22]:
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [23]:
print(df2)
print(df3)

    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [24]:
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [25]:
print(pd.concat([df1, df2, df3], join='inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [26]:
print(pd.concat([df1,df3], ignore_index=False, join='inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

#### [Do It! 실습] 인덱스가 다른 데이터 열 방향 연결하기

In [27]:
df1.index = [0, 1, 2, 3]
df2.index = [4, 5, 6, 7]
df3.index = [0, 2, 5, 7]
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [28]:
print(df2)
print(df3)

    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [29]:
col_concat = pd.concat([df1, df2, df3], axis="columns")
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [30]:
print(pd.concat([df1, df3], axis="columns", join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

## 07-3 분할된 데이터 연결하기

#### [Do It! 실습] 여러 개의 파일로 분할된 데이터 연결하기

In [31]:
from pathlib import Path

billboard_data_files = (
    Path(".")
    .glob("../data/billboard-by_week/billboard-*.csv")
)

billboard_data_files = sorted(list(billboard_data_files))
print(billboard_data_files)

[]

In [ ]:
billboard_data_files = list(billboard_data_files)

In [ ]:
billboard01 = pd.read_csv(billboard_data_files[0])
billboard02 = pd.read_csv(billboard_data_files[1])
billboard03 = pd.read_csv(billboard_data_files[2])
print(billboard01)

In [ ]:
# 각 데이터프레임의 shape 확인
print(billboard01.shape)
print(billboard02.shape)
print(billboard03.shape)

In [ ]:
billboard = pd.concat([billboard01, billboard02, billboard03])
# 연결한 데이터프레임의 shape 확인
print(billboard.shape)

In [ ]:
assert (
    billboard01.shape[0]
    + billboard02.shape[0]
    + billboard03.shape[0]
    == billboard.shape[0]
)

#### [Do It! 실습] 루프 구문으로 여러 개 파일 불러오기

In [ ]:
from pathlib import Path
billboard_data_files = (
    Path(".")
    .glob("../data/billboard-by_week/billboard-*.csv")
)

# 빈 리스트를 생성합니다.
list_billboard_df = []

# CSV 파일명 리스트를 순회합니다.
for csv_filename in billboard_data_files:
    # 필요하다면 아래 코드를 주석 해제하여 각 CSV 파일명을 출력하세요.
    # print(csv_filename)
    
    # CSV 파일을 데이터프레임으로 불러옵니다.
    df = pd.read_csv(csv_filename)
    
    # 데이터프레임을 리스트에 저장합니다.
    list_billboard_df.append(df)

# 데이터프레임의 개수를 출력합니다.
print(len(list_billboard_df))

In [ ]:
print(type(list_billboard_df[0]))

In [ ]:
print(list_billboard_df[0])

In [ ]:
billboard_loop_concat = pd.concat(list_billboard_df)
print(billboard_loop_concat.shape)

#### [Do It! 실습] 리스트 컴프리헨션으로 여러 개 파일 불러오기

In [ ]:
billboard_data_files = (
    Path(".")
    .glob("../data/billboard-by_week/billboard-*.csv")
)

list_billboard_df = []
for csv_filename in billboard_data_files:
    df = pd.read_csv(csv_filename)
    list_billboard_df.append(df)

billboard_data_files = (
    Path(".")
    .glob("../data/billboard-by_week/billboard-*.csv")
)

billboard_dfs = [pd.read_csv(data) for data in billboard_data_files]

In [ ]:
print(type(billboard_dfs))

In [ ]:
print(len(billboard_dfs))

In [ ]:
billboard_concat_comp = pd.concat(billboard_dfs)
print(billboard_concat_comp)

## 07-4 여러 데이터셋 병합하기

In [37]:
person = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/survey_person.csv')
site = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/survey_site.csv')
survey = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/survey_survey.csv')
visited = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/survey_visited.csv')
print(person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [38]:
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [39]:
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [40]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

#### [Do It! 실습] 일대일 병합하기

In [5]:
visited_subset = visited.loc[[0, 2, 6], :]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [6]:
print(visited_subset["site"].value_counts())

site
DR-1     1
DR-3     1
MSK-4    1
Name: count, dtype: int64

In [10]:
visited_subset.head()

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [9]:
o2o_merge = site.merge(visited_subset, left_on="name", right_on="site")
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

#### [Do It! 실습] 다대일 병합하기

In [41]:
print(visited["site"].value_counts())

site
DR-3     4
DR-1     3
MSK-4    1
Name: count, dtype: int64

In [12]:
m2o_merge = site.merge(visited, left_on='name', right_on='site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

#### [Do It! 실습] 다대다 병합하기

In [43]:
ps = person.merge(survey, left_on='ident', right_on='person')
vs = visited.merge(survey, left_on='ident', right_on='taken')
print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [44]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [45]:
print(ps["quant"].value_counts())

quant
rad     8
sal     8
temp    3
Name: count, dtype: int64

In [46]:
print(vs["quant"].value_counts())

quant
sal     9
rad     8
temp    4
Name: count, dtype: int64

- 중복된 열 이름에 자동으로 접미사 추가
  - 중복 키가 있다면 다대다 병합은 할 필요가 없음 -> 혼선을 야기함

In [17]:
ps_vs = ps.merge(
    vs,
    left_on=["quant"],
    right_on=["quant"],
)
ps_vs

,ident_x,personal,family,taken_x,person_x,quant,reading_x,ident_y,site,dated,taken_y,person_y,reading_y
0,dyer,William,Dyer,619,dyer,rad,9.82,619,DR-1,1927-02-08,619,dyer,9.82
1,dyer,William,Dyer,619,dyer,rad,9.82,622,DR-1,1927-02-10,622,dyer,7.80
2,dyer,William,Dyer,619,dyer,rad,9.82,734,DR-3,1939-01-07,734,pb,8.41
3,dyer,William,Dyer,619,dyer,rad,9.82,735,DR-3,1930-01-12,735,pb,7.22
4,dyer,William,Dyer,619,dyer,rad,9.82,751,DR-3,1930-02-26,751,pb,4.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,pb,Frank,Pabodie,751,pb,temp,-18.50,752,DR-3,NaN,752,lake,-16.00
144,lake,Anderson,Lake,752,lake,temp,-16.00,734,DR-3,1939-01-07,734,pb,-21.50
145,lake,Anderson,Lake,752,lake,temp,-16.00,735,DR-3,1930-01-12,735,NaN,-26.00
146,lake,Anderson,Lake,752,lake,temp,-16.00,751,DR-3,1930-02-26,751,pb,-18.50
147,lake,Anderson,Lake,752,lake,temp,-16.00,752,DR-3,NaN,752,lake,-16.00

In [ ]:
print(ps_vs.loc[0, :])

#### [Do It! 실습] assert문으로 병합 결과 확인하기

In [ ]:
print(ps.shape)

In [ ]:
print(vs.shape)

In [ ]:
print(ps_vs.shape)

- assert : 조건을 판단하여 이어서 실행하거나, AssertionError 발생시킴

In [ ]:
assert vs.shape[0] == 21

In [1]:
# assert ps_vs.shape[0] <= vs.shape[0]  # 오류

## 07-5 데이터 정규화하기

#### [Do It! 실습] 표 분할하여 데이터 정규화하기

In [2]:
import pandas as pd

billboard = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/billboard.csv')

billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 81 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          317 non-null    int64
 1   artist        317 non-null    object
 2   track         317 non-null    object
 3   time          317 non-null    object
 4   date.entered  317 non-null    object
 5   wk1           317 non-null    int64
 6   wk2           312 non-null    float64
 7   wk3           307 non-null    float64
 8   wk4           300 non-null    float64
 9   wk5           292 non-null    float64
 10  wk6           280 non-null    float64
 11  wk7           269 non-null    float64
 12  wk8           260 non-null    float64
 13  wk9           253 non-null    float64
 14  wk10          244 non-null    float64
 15  wk11          236 non-null    float64
 16  wk12          222 non-null    float64
 17  wk13          210 non-null    float64
 18  wk14          204 non-null    float64
 19  wk15          197 non-null    float64
 20  wk16          182 non-null    float64
 21  wk17          177 non-null    float64
 22  wk18          166 non-null    float64
 23  wk19          156 non-null    float64
 24  wk20          146 non-null    float64
 25  wk21          65 non-null     float64
 26  wk22          55 non-null     float64
 27  wk23          48 non-null     float64
 28  wk24          46 non-null     float64
 29  wk25          38 non-null     float64
 30  wk26          36 non-null     float64
 31  wk27          29 non-null     float64
 32  wk28          24 non-null     float64
 33  wk29          20 non-null     float64
 34  wk30          20 non-null     float64
 35  wk31          19 non-null     float64
 36  wk32          18 non-null     float64
 37  wk33          12 non-null     float64
 38  wk34          10 non-null     float64
 39  wk35          9 non-null      float64
 40  wk36          9 non-null      float64
 41  wk37          9 non-null      float64
 42  wk38          8 non-null      float64
 43  wk39          8 non-null      float64
 44  wk40          7 non-null      float64
 45  wk41          7 non-null      float64
 46  wk42          6 non-null      float64
 47  wk43          6 non-null      float64
 48  wk44          6 non-null      float64
 49  wk45          5 non-null      float64
 50  wk46          5 non-null      float64
 51  wk47          5 non-null      float64
 52  wk48          4 non-null      float64
 53  wk49          4 non-null      float64
 54  wk50          4 non-null      float64
 55  wk51          4 non-null      float64
 56  wk52          4 non-null      float64
 57  wk53          4 non-null      float64
 58  wk54          2 non-null      float64
 59  wk55          2 non-null      float64
 60  wk56          2 non-null      float64
 61  wk57          2 non-null      float64
 62  wk58          2 non-null      float64
 63  wk59          2 non-null      float64
 64  wk60          2 non-null      float64
 65  wk61          2 non-null      float64
 66  wk62          2 non-null      float64
 67  wk63          2 non-null      float64
 68  wk64          2 non-null      float64
 69  wk65          1 non-null      float64
 70  wk66          0 non-null      float64
 71  wk67          0 non-null      float64
 72  wk68          0 non-null      float64
 73  wk69          0 non-null      float64
 74  wk70          0 non-null      float64
 75  wk71          0 non-null      float64
 76  wk72          0 non-null      float64
 77  wk73          0 non-null      float64
 78  wk74          0 non-null      float64
 79  wk75          0 non-null      float64
 80  wk76          0 non-null      float64
dtypes: float64(75), int64(2), object(4)
memory usage: 200.7+ KB

In [3]:
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
billboard_long = billboard.melt(
    id_vars=["year", "artist", "track", "time", "date.entered"],
    var_name="week",
    value_name="rating",
)

print(billboard_long)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

- 특정 칼럼의 값만 행 방향으로 필터링 -> 지정된 행만 모으기
  - 크게 2개의 테이블로 분리할 수 있다는 사실을 인지할 수 있음

In [7]:
print(billboard_long.loc[billboard_long.track == 'Loser'])

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

### `첫번째 테이블 만들기`

- 테이블에서 중복되는 칼럼을 별도의 테이블(데이터프레임)로 분리하기
  - 중복되는 칼럼에 고유한 ID 를 부여 -> 고유한  ID 가 중복처리 됨

In [10]:
billboard_songs = billboard_long[
    ["year", "artist", "track", "time", "date.entered"]
]
print(billboard_songs.shape)

(24092, 5)

- 중복 제거
  - .drop_duplicates()

In [21]:
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 5)

- 고유한 ID 부여

In [22]:
billboard_songs['id'] = billboard_songs.index + 1
print(billboard_songs)

     year            artist                    track  time date.entered   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26    1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02    2
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08    3
3    2000      3 Doors Down                    Loser  4:24   2000-10-21    4
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15    5
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  313
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  314
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  315
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  316
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  317

[317 rows x 6 columns]

- 분리된 2개의 테이블을 병합하여 분리전 상태로 복원

In [23]:
billboard_ratings = billboard_long.merge(
    billboard_songs, on=["year", "artist", "track", "time", "date.entered"]
)
print(billboard_ratings.shape)

(24092, 8)

In [24]:
print(billboard_ratings)

       year           artist                    track  time date.entered  \
0      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
2      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
3      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
4      2000            2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
...     ...              ...                      ...   ...          ...
24087  2000  matchbox twenty                     Bent  4:12   2000-04-29
24088  2000  matchbox twenty                     Bent  4:12   2000-04-29
24089  2000  matchbox twenty                     Bent  4:12   2000-04-29
24090  2000  matchbox twenty                     Bent  4:12   2000-04-29
24091  2000  matchbox twenty                     Bent  4:12   2000-04-29

       week  rating   id
0       wk1    87.0    1
1       wk2    82.0    1
2       wk3    72.0    1
3       wk4    77.0    1
4       wk5    87.0    1
...     ...     ...  ...
24087  wk72     NaN  317
24088  wk73     NaN  317
24089  wk74     NaN  317
24090  wk75     NaN  317
24091  wk76     NaN  317

[24092 rows x 8 columns]

- ### `두번째 테이블 만들기`

In [25]:
billboard_ratings = billboard_ratings[
    ["id", "week", "rating"]
]
print(billboard_ratings)

        id  week  rating
0        1   wk1    87.0
1        1   wk2    82.0
2        1   wk3    72.0
3        1   wk4    77.0
4        1   wk5    87.0
...    ...   ...     ...
24087  317  wk72     NaN
24088  317  wk73     NaN
24089  317  wk74     NaN
24090  317  wk75     NaN
24091  317  wk76     NaN

[24092 rows x 3 columns]

In [26]:
merge_billboard_ratings = billboard_songs.merge(
    billboard_ratings, on=["id"]
)
print(merge_billboard_ratings.shape)

(24092, 8)

In [27]:
merge_billboard_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          24092 non-null  int64
 1   artist        24092 non-null  object
 2   track         24092 non-null  object
 3   time          24092 non-null  object
 4   date.entered  24092 non-null  object
 5   id            24092 non-null  int64
 6   week          24092 non-null  object
 7   rating        5307 non-null   float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.5+ MB

In [28]:
billboard_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          24092 non-null  int64
 1   artist        24092 non-null  object
 2   track         24092 non-null  object
 3   time          24092 non-null  object
 4   date.entered  24092 non-null  object
 5   week          24092 non-null  object
 6   rating        5307 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.3+ MB