## 09-1 결측값이란?

- numpy 결측값 정의를 따름

- na : Not Abailable
- NaN : Not a Number
- Null
- None

In [1]:
from numpy import NaN, NAN, nan

- 일반적인 조건 체크로는 확인 불가

In [2]:
print(NaN == True)
print(NaN == 0)
print(NaN == '')
print(NaN == NaN)
print(NaN == NAN)
print(NaN == nan)
print(nan == NAN)

False
False
False
False
False
False
False

### `결측값 확인 메서드`

- .isnull()
- .notnull()

In [3]:
import pandas as pd

print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))

True
True
True

In [44]:
print(pd.notnull(NaN))
print(pd.notnull(42))
print(pd.notnull('missing'))

False
True
True

## 09-2 결측값은 왜 생길까?

### `데이터를 불러올 때 생기는 결측값`

- 결측값을 대체 처리하는 방법을 결정하는 .read_csv() 매개변수
  - na_values : 특정 값들을 결측값으로 처리
  - keep_default_na
    - True : 기본값, 결측값으로 간주하는 모든 값을 결측 처리
    - False : na_values 에 지정한 특정 값만 결측 처리
  - na_filter
    - True : 기본값, 결측 처리
    - False : 결측 처리 하지 않음

In [4]:
import pandas as pd

visited_file = 'C:/python/do_it_pandas-main/do_it_pandas-main/data/survey_visited.csv'
print(pd.read_csv(visited_file))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [46]:
print(pd.read_csv(visited_file, keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [47]:
print(
    pd.read_csv(visited_file, na_values=[""], keep_default_na=False)
)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [6]:
na_test =  pd.read_csv(visited_file, keep_default_na=False)
na_test['dated'][5]

''

### `데이터를 연결할 때 생기는 결측값`

In [8]:
visited = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/survey_visited.csv')
survey = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/survey_survey.csv')
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [9]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [10]:
vs = visited.merge(survey, left_on='ident', right_on='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

### `직접 입력한 결측값`

- numpy 결측값 자료형 -> float

- 결측값 입력하여 Series 만들기

In [51]:
num_legs = pd.Series({'goat': 4, 'amoeba': nan})
print(num_legs)

goat      4.0
amoeba    NaN
dtype: float64

- 결측값 입력하여 DataFrame 만들기

In [52]:
scientists = pd.DataFrame(
    {
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "missing": [NaN, nan],
    }
)

print(scientists)

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

In [53]:
print(scientists.dtypes)

Name           object
Occupation     object
Born           object
Died           object
missing       float64
dtype: object

In [54]:
scientists = pd.DataFrame(
    {
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
    }
)

scientists["missing"] = nan
print(scientists)

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

### `인덱스를 다시 설정할 때 생기는 결측값`

In [55]:
gapminder = pd.read_csv('../data/gapminder.tsv', sep='\t')

life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [56]:
y2000 = life_exp[life_exp.index > 2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [5]:
for num in range(2000, 2010):
    print(num)

2000
2001
2002
2003
2004
2005
2006
2007
2008
2009

In [57]:
print(y2000.reindex(range(2000, 2010)))

year
2000          NaN
2001          NaN
2002    65.694923
2003          NaN
2004          NaN
2005          NaN
2006          NaN
2007    67.007423
2008          NaN
2009          NaN
Name: lifeExp, dtype: float64

## 09-3 결측값 다루기

### `결측값 처리하기`

- 다른 값으로 대체하기
- 기존 값으로 대체하기
- 삭제하기

#### [Do It! 실습] 결측값 개수 구하기

In [11]:
ebola = pd.read_csv('C:/python/do_it_pandas-main/do_it_pandas-main/data/country_timeseries.csv')

print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [12]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.3+ KB

In [8]:
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [9]:
ebola.isnull()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,False,False,False,True,False,True,True,True,True,True,False,True,False,True,True,True,True,True
1,False,False,False,True,False,True,True,True,True,True,False,True,False,True,True,True,True,True
2,False,False,False,False,False,True,True,True,True,True,False,False,False,True,True,True,True,True
3,False,False,True,False,True,True,True,True,True,True,True,False,True,True,True,True,True,True
4,False,False,False,False,False,True,True,True,True,True,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,False,False,False,False,False,True,True,True,True,True,False,False,False,True,True,True,True,True
118,False,False,False,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True
119,False,False,False,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True
120,False,False,False,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True
121,False,False,False,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True

- 모든 결측값 개수 구하기
  - zero 가 아닌 개수 카운팅 -> True 값 총 개수

- DataFrame

In [60]:
import numpy as np

print(np.count_nonzero(ebola.isnull()))

1214

- Series

In [61]:
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

29

In [10]:
ebola.Cases_Guinea.value_counts()

Cases_Guinea
86.0      3
495.0     2
112.0     2
390.0     2
408.0     1
         ..
1199.0    1
1298.0    1
1350.0    1
1472.0    1
49.0      1
Name: count, Length: 88, dtype: int64

- 결측치도 고유값으로 카운팅

In [12]:
cnts = ebola.Cases_Guinea.value_counts(dropna=False)
print(cnts)

Cases_Guinea
NaN       29
86.0       3
495.0      2
112.0      2
390.0      2
          ..
1199.0     1
1298.0     1
1350.0     1
1472.0     1
49.0       1
Name: count, Length: 89, dtype: int64

In [14]:
cnts.index

Index([   nan,   86.0,  495.0,  112.0,  390.0,  408.0,  291.0,  328.0,  344.0,
        351.0,  398.0,  413.0,  412.0,  406.0,  409.0,  258.0,  411.0,  410.0,
        415.0,  427.0,  460.0,  472.0,  485.0,  281.0, 2776.0,  248.0,  506.0,
        103.0,  122.0,  127.0,  143.0,  151.0,  158.0,  159.0,  168.0,  197.0,
        203.0,  208.0,  218.0,  224.0,  226.0,  231.0,  235.0,  236.0,  233.0,
        510.0, 2775.0, 2164.0, 1667.0, 1731.0, 1760.0, 1878.0, 1919.0, 1971.0,
       2047.0, 2134.0, 2292.0, 1553.0, 2416.0, 2571.0, 2597.0, 2630.0, 2695.0,
       2706.0, 2730.0, 2769.0, 1906.0, 1540.0,  519.0,  936.0,  543.0,  579.0,
        607.0,  648.0,  771.0,  812.0,  861.0,  899.0,  942.0, 1519.0, 1008.0,
       1022.0, 1074.0, 1157.0, 1199.0, 1298.0, 1350.0, 1472.0,   49.0],
      dtype='float64', name='Cases_Guinea')

In [15]:
pd.isnull(cnts.index)

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [63]:
print(cnts.loc[pd.isnull(cnts.index)])

Cases_Guinea
NaN    29
Name: count, dtype: int64

In [64]:
print(ebola.Cases_Guinea.isnull().sum())

29

#### [Do It! 실습] 결측값 대체하기

In [65]:
print(ebola.fillna(0).iloc[:, 0:5])

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0      1/5/2015  289        2776.0            0.0            10030.0
1      1/4/2015  288        2775.0            0.0             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286           0.0         8157.0                0.0
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            0.0                0.0
119   3/25/2014    3          86.0            0.0                0.0
120   3/24/2014    2          86.0            0.0                0.0
121   3/22/2014    0          49.0            0.0                0.0

[122 rows x 5 columns]

- 결측값 찾는 방향에 따른 바로 전 데이터 값으로 채우기
  - forward fill : 'ffill'
  - backward fill : 'bfill'

#### [Do It! 실습] 정방향 채우기

In [66]:
print(ebola.fillna(method='ffill').iloc[:, 0:5])

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0      1/5/2015  289        2776.0            NaN            10030.0
1      1/4/2015  288        2775.0            NaN             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286        2769.0         8157.0             9722.0
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            8.0                6.0
119   3/25/2014    3          86.0            8.0                6.0
120   3/24/2014    2          86.0            8.0                6.0
121   3/22/2014    0          49.0            8.0                6.0

[122 rows x 5 columns]

#### [Do It! 실습] 역방향 채우기

In [67]:
print(ebola.fillna(method='bfill').iloc[:, 0:5])

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0      1/5/2015  289        2776.0         8166.0            10030.0
1      1/4/2015  288        2775.0         8166.0             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286        2730.0         8157.0             9633.0
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            NaN                NaN
119   3/25/2014    3          86.0            NaN                NaN
120   3/24/2014    2          86.0            NaN                NaN
121   3/22/2014    0          49.0            NaN                NaN

[122 rows x 5 columns]

#### [Do It! 실습] 보간법으로 채우기

- 결측값 양쪽 값의 평균으로 채워 넣기
  - .interpolate()
    - method
      - linear
      - time
      - index, values
      - pad
      - etc...

In [68]:
print(ebola.interpolate().iloc[:, 0:5])

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0      1/5/2015  289        2776.0            NaN            10030.0
1      1/4/2015  288        2775.0            NaN             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286        2749.5         8157.0             9677.5
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            8.0                6.0
119   3/25/2014    3          86.0            8.0                6.0
120   3/24/2014    2          86.0            8.0                6.0
121   3/22/2014    0          49.0            8.0                6.0

[122 rows x 5 columns]

#### [Do It! 실습] 결측값 삭제하기

- 데이터를 고려하여 삭제
  - .dropna()

In [69]:
print(ebola.shape)

(122, 18)

In [70]:
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)

(1, 18)

In [71]:
print(ebola_dropna)

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

### 결측값이 있는 데이터 계산하기

In [16]:
ebola["Cases_multiple"] = (
    ebola["Cases_Guinea"]
    + ebola["Cases_Liberia"]
    + ebola["Cases_SierraLeone"]
)

- 결측값이 있다면 계산 불가

In [73]:
ebola_subset = ebola.loc[
    :,
    [
        "Cases_Guinea",
        "Cases_Liberia",
        "Cases_SierraLeone",
        "Cases_multiple",
    ],
]

print(ebola_subset.head(n=10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

- 결측값 무시하고 계산
  - skipna

In [74]:
print(ebola.Cases_Guinea.sum(skipna=True))

84729.0

In [75]:
print(ebola.Cases_Guinea.sum(skipna=False))

nan

## 09-4 판다스 내장 NA 결측값

In [76]:
scientists = pd.DataFrame(
    {
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61]
    }
)

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [77]:
print(scientists.dtypes)

Name          object
Occupation    object
Born          object
Died          object
Age            int64
dtype: object

In [78]:
scientists.loc[1, "Name"] = pd.NA
scientists.loc[1, "Age"] = pd.NA
print(scientists)

                Name    Occupation        Born        Died   Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16  37.0
1               <NA>  Statistician  1876-06-13  1937-10-16   NaN

In [79]:
print(scientists.dtypes)  # 판다스 2.0.3 float64로 바뀜

Name           object
Occupation     object
Born           object
Died           object
Age           float64
dtype: object

In [82]:
scientists = pd.DataFrame(
    {
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61]
    }
)

scientists.loc[1, "Name"] = np.NaN
scientists.loc[1, "Age"] = np.NaN

print(scientists.dtypes)

Name           object
Occupation     object
Born           object
Died           object
Age           float64
dtype: object