In [1]:
dan = int(input('단 입력 ->'))
for i in range(1, 10):
    print("{} * {} = {}".format(dan, i, dan*i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [4]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1, 10):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [8]:
for i in range(1, 10):
    print(i, end=', ' if i < 9 else "")

1, 2, 3, 4, 5, 6, 7, 8, 9

In [15]:
word = 'korea'
if word.find('k'):          # 0은 False로 판단. find()는 못찾으면 -1을 리턴하는데 -1은 참으로 인식.
    print('1>' + word)

In [14]:
if word.find('k') > -1:         
    print('2>' + word)

2>korea

In [21]:
# loop
a = 112
b = ['1', '2', '3']
c = '456'
d = tuple(b)
e = dict(k=5, f=6)
                    #a만 사용안됨(집합객체만 반복문과 사용가능)
for i in e:
    print(i)

k
f

In [24]:
for i in e.items():
    #print(i)
    print('key:', i[0], 'value:', i[1])

key: k value: 5
key: f value: 6

In [44]:
# 1~10까지 홀수의 합계를 구하기
d = 0
for i in range(1, 10, 2):
    d=d+i    
print(d)

25

In [46]:
sum = 0
for i in range(1,11,2):
    sum += i
print(sum)

25

In [60]:
# 구구단 전체 출력하기
for i in range(2,10,2):
    for a in range(1,10):
        print("{} * {} = {}".format(i, a, i*a))

===============2 단================
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
===============4 단================
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
===============6 단================
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
===============8 단================
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [59]:
for i in range(2,10):
    for a in range(1,9):
        print("{} * {} = {}".format(i,a,i*a))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72

In [61]:
# 짝수단 가로 출력 해보기!(ex 2 * 1 = 2  4 * 1 = 4)

In [64]:
# while : for는 명확한 실행 횟수(집합객체의 끝)가 정해졌을 때 많이 사용, 
#         while 명령은 반복횟수가 정해지지 않았을 때 많이 사용(게임에서 많이 사용)
w = ['x', 'y', 'z']
while w:
    data = w.pop()
    print(data)
    # y를 만나면 제어블럭 탈출
    if data == 'y' : break
else:
    print("end")

z
y

In [65]:
# 요소 분해하기
msg = '행복해'
c1, c2, c3 = msg
c2

'복'

In [67]:
# 여러 시퀀스 순회하기 : zip() 함수
days = ['월','화','수']
doit = ['잠자기','공부하기','놀기','밥먹기']
#print(zip(days, doit))
print(list(zip(days, doit)))

[('월', '잠자기'), ('화', '공부하기'), ('수', '놀기')]

In [68]:
print(dict(zip(days, doit)))

{'월': '잠자기', '화': '공부하기', '수': '놀기'}

In [70]:
for data in zip(days,doit):
    print(data)

('월', '잠자기')
('화', '공부하기')
('수', '놀기')

In [71]:
for yoil, halil in zip(days,doit):
    print(yoil, halil)

월 잠자기
화 공부하기
수 놀기

In [72]:
days = ['월','화','수']
doit = ['잠자기','공부하기','놀기','밥먹기']

print(zip(days, doit))

<zip object at 0x000001F83772BE40>

In [73]:
print(list(zip(days,doit)))

[('월', '잠자기'), ('화', '공부하기'), ('수', '놀기')]

In [74]:
print(dict(zip(days,doit)))

{'월': '잠자기', '화': '공부하기', '수': '놀기'}

@ 컴프리핸션 (comprehension)
    ` 하나 이상의 이터레이터(요소만 뽑아낸 것들?)로부터 파이썬 자료구조를 만드는 컴팩트(******)한 방법
    ` 비교적 간단한 구문으로 반복문과 조건 테스트를 결합

    * 리스트 컨프리핸션
        [ 표현식 for 항목 in 순회가능객체 ]
        [ 표현식 for 항목 in 순회가능객체 if 조건 ]

    * 딕셔러리 컨프리핸션
        { 키_표현식: 값_표현식 for 표현식 in 순회가능객체 }

    * 셋 컨프리핸션1
        { 표현식 for 표현식 in 순회가능객체 }

In [77]:
alist= []
for n in range(1,7):
    alist.append(n)
print(alist)

#alist = list(range(1,7))

[1, 2, 3, 4, 5, 6]

In [78]:
blist = [n for n in range(1,7)]
blist

[1, 2, 3, 4, 5, 6]

In [79]:
blist = [n-1 for n in range(1,7)]
blist

[0, 1, 2, 3, 4, 5]

In [81]:
blist = [n**2 for n in range(1,7)]
blist

[1, 4, 9, 16, 25, 36]

In [82]:
blist = [n**2 for n in range(1,7) if n%2 == 1]
blist

[1, 9, 25]

In [84]:
clist = []
for r in range(1,4):
    for c in range(1,3):
        clist.append((r,c))
clist

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [97]:
clist = {(n,c,s) for n in range(1,4) for c in range(1,3) for s in range(2,5)}
clist

{(1, 1, 2),
 (1, 1, 3),
 (1, 1, 4),
 (1, 2, 2),
 (1, 2, 3),
 (1, 2, 4),
 (2, 1, 2),
 (2, 1, 3),
 (2, 1, 4),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 4),
 (3, 1, 2),
 (3, 1, 3),
 (3, 1, 4),
 (3, 2, 2),
 (3, 2, 3),
 (3, 2, 4)}

In [98]:
datas = (2,3,4)
adic = {x : x**2 for x in datas}
adic

{2: 4, 3: 9, 4: 16}

In [100]:
word = 'LOVE LOL'
wcnt = {Letter : count(word) for Letter in range(word)} 
# 문자열을 순회하여 Letter에 담고 키:글자 / 값:word에 들어있는 글자의 수

TypeError: 'str' object cannot be interpreted as an integer

In [113]:
word = 'LOVE LOL'
wcnt = {Letter : word.count(Letter) for Letter in set(word)}
# 문자열을 순회하여 Letter에 담고 키:글자 / 값:word에 들어있는 글자의 수

In [114]:
wcnt

{'O': 2, 'L': 3, 'V': 1, ' ': 1, 'E': 1}

In [117]:
# 프로젝트할 때 팀구호
우리의결의 = """취하고싶으면달려라
                맡은업무는반드시마치자
                노력없는성과는없다
                구글신과함께공부하자"""
result = [(i,j) for i, j in enumerate(우리의결의.splitlines())]  #각 요소와 인덱스를 함께 가져옴
result

[(0, '취하고싶으면달려라'),
 (1, '                맡은업무는반드시마치자'),
 (2, '                노력없는성과는없다'),
 (3, '                구글신과함께공부하자')]

"""
    [ 함수 ]

     - 반복적인 구문을 만들어 함수로 선언하여 간단하게 호출만 하고자 한다
     - 역할별 구문을 작성한다

     def 함수명(매개변수):
        수행할 문장들
"""

In [120]:
# 인자값도, 리턴값도 없는 함수
def func():
    print('함수생성1')

result = func()
result

함수생성1

In [127]:
# 리턴값이 여러개인 경우
def func1(arg):
    return arg+5, arg-5

a,b = func1(3)  # unpacking(값을 분산)

In [128]:
a

8

In [129]:
b

-2

In [130]:
[a,b]

[8, -2]

In [131]:
def func2(greeting, name):
    print(greeting, '!!!', name, '님~')

func2('하이','홍동우')

하이 !!! 홍동우 님~

In [132]:
func2("홍동우","굿애프터눈")

홍동우 !!! 굿애프터눈 님~

In [133]:
# 키워드 인자로 호출
func2(name='홍동우', greeting='굿모닝~')

굿모닝~ !!! 홍동우 님~

In [134]:
def func3(greeting, name='홍동우'):
    print(greeting, '!!!', name, '님~')

func3('하이')

하이 !!! 홍동우 님~

In [136]:
# *args 키워드(위치 인자 모으기)
def func4(a,b,c=0,*args):   # *args : 인자의 개수를 모를 때(튜플로 들어감)
    sum = a+b+c
    for i in args:
        sum += i;   #sum = sum + i
    return sum

func4(4,5)

9

In [137]:
func4(4,5,6)

15

In [138]:
func4(4,5,6,7,8,9)

39

In [141]:
# **kwargs 키워드(키워드 인자로만 전달할 때) : 딕셔너리형으로 들어감
def func5(a,b,c=100, *args, **kwargs):
    #print(args)
    #print(kwargs)
    sum = a+b+c
    for i in args:
        sum += i
    for k in kwargs:
        sum += kwargs[k]
    return sum

#func5(10,20,30,40)
func5(1,2,3,4,kor=10, eng=9, mat=10) #함수에 추가적인 값을 키워드로 호출하고자 할 때 사용

39

In [149]:
# 함수도 객체이다(함수도 데이터가 될 수 있다)
def case1():
    print('case-1 함수')
def case2():
    print('case-2 함수')
def case3():
    print('case-3 함수')
          
f = {'a1' : case1, 'a2' : case2, 'a3' : case3}
f['a2']()

case-2 함수

In [150]:
# 전역변수와 지역변수
temp = '글로벌'
def func():
    #print(temp)
    #temp = '지역'      # 새로 선언
    global temp
    temp = '지역'
    print('1>', temp)     
func()
print('2>',temp)

1> 지역
2> 지역

In [174]:
for i in range(1,10):
    for a in range(2,10,2):
        print('{} * {} = {}'.format(a,i,i*a), end='\t' if a < 8 else "\n")

2 * 1 = 2	4 * 1 = 4	6 * 1 = 6	8 * 1 = 8
2 * 2 = 4	4 * 2 = 8	6 * 2 = 12	8 * 2 = 16
2 * 3 = 6	4 * 3 = 12	6 * 3 = 18	8 * 3 = 24
2 * 4 = 8	4 * 4 = 16	6 * 4 = 24	8 * 4 = 32
2 * 5 = 10	4 * 5 = 20	6 * 5 = 30	8 * 5 = 40
2 * 6 = 12	4 * 6 = 24	6 * 6 = 36	8 * 6 = 48
2 * 7 = 14	4 * 7 = 28	6 * 7 = 42	8 * 7 = 56
2 * 8 = 16	4 * 8 = 32	6 * 8 = 48	8 * 8 = 64
2 * 9 = 18	4 * 9 = 36	6 * 9 = 54	8 * 9 = 72